body 
{font-family: 'Montserrat', sans-serif}

.logo {
margin-bottom: 60px;
}

.about-me-container {
margin: 0 auto;
width: 274px;
}

.my-name {
margin-top: 20px;
margin-bottom: 32px;
    
color: #262630;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
}
    
.about-me-list {
padding-left: 14px;
}

.about-me-list-item {
margin-bottom: 16px;

color: #262630;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
